@charset "UTF-8";
/* 注册 */
#loginbar {
  width: 100%;
  margin: 0 auto;
  background: url("../images/loginimg/loginbg.jpg") no-repeat center; }
#loginbar .loginbg {
    width: 100%;
    height: 600px; }
    #loginbar .loginbg .login {
      background-color: #fff;
      overflow: hidden;
      position: relative;
      width: 350px;
      height: 405px;
      top: 100px;
      left: 750px; }
      #loginbar .loginbg .login .login-t {
        width: 100%;
        font: 18px/54px "微软雅黑";
        text-align: center;
        border-bottom: 1px solid #e4e1e1; }
      #loginbar .loginbg .login .login-c {
        width: 287px;
        margin: 0 auto; }
        #loginbar .loginbg .login .login-c .login2 {
          display: inline-block;
          width: 39px;
          height: 38px;
          background: rgba(246, 246, 246, 0.5);
          border-right: 1px solid #ccc;
          left: 10px;
          text-align: center;
          line-height: 38px; }
        #loginbar .loginbg .login .login-c .login1 {
          width: 288px;
          height: 40px;
          border: 1px solid #ccc;
          margin-top: 20px; }
          #loginbar .loginbg .login .login-c .login1 .name1 {
            display: block;
            font: 15px/18px "酷黑软雅";
            color: #e33938; }
          #loginbar .loginbg .login .login-c .login1 .pass111 {
            display: block;
            font: 15px/18px "酷黑软雅";
            color: #e33938; }
        #loginbar .loginbg .login .login-c input {
          width: 200px;
          height: 38px;
          border: none;
          padding-left: 5px;
          font: 14px/21px "宋体";
          outline: medium; }
        #loginbar .loginbg .login .login-c .forget {
          margin: 10px;
          overflow: hidden; }
          #loginbar .loginbg .login .login-c .forget span:hover a {
            color: #e33938; }
          #loginbar .loginbg .login .login-c .forget .forget-l {
            float: left; }
          #loginbar .loginbg .login .login-c .forget .forget-r {
            float: right; }
      #loginbar .loginbg .login .login-b {
        margin: 50px 0 0 40px;
        font: 12px/24px "宋体"; }
        #loginbar .loginbg .login .login-b a {
          color: #e33938; }
        #loginbar .loginbg .login .login-b i {
          margin: 0 10px; }

#but {
  text-align: center;
  font: 20px/40px "楷体";
  width: 287px;
  height: 40px;
  color: #fff;
  margin-top: 26px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: medium;
  background-image: linear-gradient(-180deg, #ff2f2d 0%, #e33938 100%); }
  #but:active {
    background: #e79898; }
